.jumbotron {
    background: url(https://cdn.pixabay.com/photo/2018/05/17/09/18/away-3408119__480.jpg);
    background-size: 100% 100%;
    height: 600px;
    padding-left: 60px;
}

.logo {
    height: 75px;
    width: 75px;
}

.featured {
    font-size: xx-large;
    color: white
}

.featured h1 {
    padding-top: 80px;
}

.featured .btn-default {
    background: rgba(255, 51, 0, 0.541);
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 8px;
    width: 180px;
    padding: auto;
}

.featured .btn-default:hover {
    background: rgb(255, 51, 0);
}

.trials {
    text-align: center;
    color: black;
    padding: 20px 0 40px 0;
}

.trials img {
    height: 70px;
    width: 200px;
    margin: 20px;
}

@media(min-width:480px) and (max-width:768px) {
    .jumbotron {
        height: 410px;
        margin: 0;
    }
    .featured h1 {
        padding-top: 80px;
    }
    .featured p {
        font-size: 25px;
    }
    .featured {
        text-align: center;
    }
}

@media(max-width:480px) {
    .jumbotron {
        height: 410px;
        margin: 0;
    }
    .featured h1 {
        padding-top: 60px;
    }
    .featured p,
    .featured a {
        font-size: 20px;
    }
    .featured {
        text-align: center;
    }
    .trial img {
        height: 40px;
        width: 100px;
        margin: 10px;
    }
}

.footer {
    background: rgb(248, 240, 240);
    font-size: 17px;
}